<h1>Movies</h1>
<hr />

<div class='row'>
  {{#each movies}}
    <div class='col-md-4 mb-5'>
      <div class='card' style='width: 18rem'>
        <img src='{{imageUrl}}' alt='{{title}}' class='card-img-top' />
        <div class='card-body'>
          <h5 class='card-title'>
            {{title}}
          </h5>
          <p class='card-text'>{{description}}</p>
          <a href='/movies/edit/{{_id}}' class='btn btn-primary'>Edit Movie</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>